html {
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
/*img{*/
/*  width: 100%;*/
/*}*/
.wrapper-product {
  scrollbar-width: none; /* Ẩn thanh cuộn */
}

/* Ẩn thanh cuộn cho ngón tay thanh cuộn */
.wrapper-product::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}